[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twython = "*"
pyyaml = "*"


[dev-packages]

pytest = "*"
pytest-mock = "*"
pylint = "*"
tox = "*"
"autopep8" = "*"


[requires]

python_version = "3.6"
